* {
  box-sizing: border-box;
}
body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100px;
  }

  .header {
    background-color: whitesmoke;
    text-align: center;
    padding: 20px;
  }

  .footer {
    padding: 20px;
    text-align: center;
    background: whitesmoke;
    margin-top: 20px;
  }
  h1{
    color:#111;
    text-align: center;

  }
  h2 {
    color: white;
    text-align: center;
  }
  nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  
}
.active {
  background-color: red;
}


li {
  float: left;
  
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.content{
  content: "";
  display: inline-flex;
  clear: both;
  background-color: whitesmoke;
  width: 100%;

}
.column{
  float: center;
  padding:30px;
  text-align: center;
  margin: 20px;
}
.column.side{
  width: 15%;
  background-color: white;
}
.column.mid{
  width: 70%;
    background-color: white;
}

.producten{
  display: inline-block;



}